/* 
	Author: AMPM, 2021
	File: skills.css
	Goal: styling skills web page 
*/

@import '/shared/common.css'; /* common styles */

@import '/shared/footer.css';

article {
  padding: 1rem 0;
  width: 100%;
}

table {
  background: #fff;
  margin-top: 2rem;
  width: 100%;
}

table caption {
  background: #fff;
  font-size: 1.6rem;
  padding-bottom: 1rem;
  padding-top: 3rem;
  padding-left: 1rem;
  text-align: left;
}

thead {
  text-align: left;
  font-size: 1.8rem;
  background-color: var(--color-primary-light);
  color: #000;
}

th {
  font-weight: 600;
  text-align: center;
  padding: 1rem;
}

th:first-of-type {
  width: 30%;
}

td {
  padding: 1rem;
  font-size: 1.6rem;
}

tr:nth-child(even) {
  background-color: #eee;
}

@media only screen and (min-width: 600px) {
  table caption {
    margin-left: unset;
  }

  th {
    text-align: left;
  }

  th:first-of-type {
    width: 25%;
  }
}
