/* 
	Author: AMPM, 2021
	File: about.css
	Goal: styling social web page 
*/
/* common styles */
@import '/shared/common.css';

@import '/shared/footer.css';

#about-text {
  background-color: #fff;
  padding: 2rem;
  margin: 1rem;
  line-height: 3;
  border-left: 2rem solid var(--color-dark);
}

details {
  margin: 2rem 1rem;
}

summary {
  cursor: pointer;
  outline: none;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  background-color: var(--color-primary);
  padding: 2rem;
}

summary::marker,
summary::-webkit-details-marker {
  color: var(--color-secundary);
}

details section {
  background-color: #fff;
  padding: 1rem 3.8rem;
  border-bottom: 3px dotted var(--color-primary);
}

details section:last-of-type {
  border-bottom: unset;
}

dl {
  font-size: 1.6rem;
  line-height: 2;
  margin-bottom: 5rem;
}

dt {
  font-weight: 600;
}

dd {
  margin-left: 1.6rem;
  letter-spacing: 0.8px;
}

.company,
.period,
.position {
  margin-bottom: 2rem;
}

.position {
  margin-top: 2rem;
  font-weight: 900;
  color: var(--color-primary);
}

.company {
  font-weight: 500;
  color: var(--color-secundary);
}

.period {
  color: #585858;
}
@media only screen and (min-width: 1200px) {
  #about-text {
    margin: unset;
  }

  #exp,
  details {
    margin: 1rem 0;
  }

  details {
    margin: 2rem 0;
  }
}
