/* 
	Author: AMPM, 2021
	File: common.css
	Goal: same / shared css to other files
*/

/* carrega font localmente */
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

/* ==== colors ===  */
:root {
  --color-primary: #004b8d;
  --color-primary-light: #2398ff;
  --color-secundary: #0073d8;
  --color-light: #e9f5ff;
  --color-dark: #003564;
  --overlay: #2398ffbe;
  --font-family-sans-serif: 'Roboto', sans-serif;
}

/*  Resets */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*  1rem => 10px*/
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-sans-serif) !important;
  height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 4.9rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 2.4rem;
}
p,
a {
  font-size: 1.6rem;
}

h2,
h3 {
  font-weight: 500;
}

@media only screen and (min-width: 600px) {
  .big-title {
    font-size: 8rem;
    color: var(--color-primary);
  }

  h1 {
    font-size: 6.4rem;
  }

  h2 {
    font-size: 4.8rem;
  }

  h3 {
    font-size: 3.2rem;
  }
}

img {
  display: block;
  width: 100%;
}

/* ===== Utils ======== */

.big-title {
  font-size: 6.4rem;
  font-weight: 900;
  color: var(--color-primary);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Btn */
.btn {
  font-weight: 400;
  display: inline-block;
  padding: 1.2rem 3rem;
  font-size: 1.8rem;
  border: 1px solid;
}

.btn-primary {
  background-color: var(--color-primary);
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #004b8db8;
}

.btn-outline {
  color: var(--color-primary-light);
  border: 1px solid var(--color-primary-light);
}

.btn-outline:hover {
  background-color: var(--color-primary-light);
  color: #ffffff;
}
